body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: white;
  }
  
  .game-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  canvas#gameCanvas {
    border: 5px solid black; 
    background-color: white;
  }
  
  #sniper-scope {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 3px solid #ffffff00;
    border-radius: 50%;
    pointer-events: none;
    background: transparent;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  
  .game-cover {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url('image/homepage.jpg') no-repeat center center;
    background-size: cover;
  }

@keyframes titleAnimation {
  0% {
      transform: scale(0) translateY(0);
      opacity: 1;
  }
  50% {
      transform: scale(2) translateY(150px); 
      opacity: 1;
  }
  100% {
      transform: scale(1) translateY(50px); 
      opacity: 1;
  }
}

.game-cover h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  color: red;
  opacity: 0;
  animation: titleAnimation 3s ease-out forwards;
  text-align: center;
}

#start-button {
  margin-top: auto;
  margin-bottom: 80px;
  padding: 60px 120px;
  font-size: 120px;
  background-color: rgb(109, 85, 60);
  color: white;
  border: none;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  opacity: 0;
  transition: all 0.2s ease;
  animation: fadeIn 3s 3s forwards; 
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


#start-button:hover {
    transform: translateY(4px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
}

.choose-level-page {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);  /* 半透明背景 */
}

.level-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgba(255, 255, 255, 1);
}

